html, body, ul, ol, li, p, 
h1, h2, h3, h4, h5, h6, 
form, fieldset, a { 
margin: 0; 
padding: 0; 
border: 0; 
}
body {
font-size: 100.01%; /* Fix for some browser bugs */
background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
font-weight:normal;
font-size:100%;
}

#header{
	position: fixed;
	height: 100%;
	width: 175px;
	float: right;
	border: 2px solid black;
	background-color: #CC581E;
	text-align: center;
}

#container{
	height: auto;
	width: auto;
	padding-top: 20px;
}

#toppart{
	height: 50px;
	width: 100%;
}

.storyparagraphs{
	webkit-column-count:3; 
	-moz-column-count:3; 
	column-count:3;
	font-family: Didot, Garamond, serif;, sans-serif;
	font-size: 18px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 25px;
}

h1{
	font-size: 54px;
	color: #806A5F;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.image{
   z-index: 0;
   width: 100%;
   background-size: 100% 100%;
}

.caption{
	font-family: serif;
	font-size: 12px;
	text-align: center;
}

#smallheader{
	position: fixed;
	height:100%;
	width: 15px;
	float: right;
	border: 2px solid black;
	background-color: #CC581E;
	text-align: center;
}

.box{
	width:110px;
	height:80px;
	float: left;
	padding: 20px;
	margin: 100px;
	margin-top: 50px;
	position: relative;
	word-wrap: break-word;
}



#houseBurn1{
	width:100px;
	height:75px;


}

#houseBurn2{
	width:100px;
	height:75px;

}

#houseBurn3{
	width:100px;
	height:75px;

}

#houseBurn4{
	width:100px;
	height:75px;

}

#photocontainer{
	height:200px;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	float:left;
	/*margin: 50px;*/
}

.pullquote{
	font-family: serif;
	font-size: 36px;
	color: #FFA578;
	border-top: 2px solid #FFA578;
	border-bottom: 2px solid #FFA578;
	width: 40%;
	padding-left: 100px;
	margin-left: 100px;
	word-wrap: break-word;
}

.introtext{
	font-family: Didot, Garamond, serif;, sans-serif;
	font-size: 18px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 25px;
	padding-top: 25px;
}

.introbox{
	border-top: 2px solid #FFA578;
	border-bottom: 2px solid #FFA578;
	margin: 20px;
}

#test{
	height: 25px;
	width: auto;
	border: 3px solid black;
}

.home{
	height: 60px;
	width: 60px;
	position: inherit;
	padding-left: 50%;
	padding-right: 50%;
}